---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Overpass:100,200,200i,300,600");
@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:200");

#header {
	display: none;
}

section {
	margin-top: 6px;
}

body, h1, h2, h3, h4, h5, h6, strong, th, dt, section #title p, section #title .credits {
	font-family: Overpass, sans-serif !important;
	font-weight: 200;
}

section #title .credits {
	font-weight: 300;
}

strong, th, dt {
	font-weight: 600;
}

section #title h1 {
	font-weight: 100;
}

pre, code, kbd, samp {
	font-family: 'Overpass Mono';
}

code {
	margin: 0;
	padding: 0;
}
